<div data-tf-sidetab="Jwl6d9Dm" data-tf-opacity="100" data-tf-iframe-props="title=Contacteer ons" data-tf-transitive-search-params data-tf-button-color="orange" data-tf-button-text="BEL ONS 09 725 67 49" style="all:unset;"></div><script src="//embed.typeform.com/next/embed.js"></script> 


<!-- This example requires Tailwind CSS v3.0+ -->
<div class="isolate bg-blue-900">
  <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]">
    <svg class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]" viewBox="0 0 1155 678" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)" fill-opacity=".3" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
      <defs>
        <linearGradient id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
          <stop stop-color="#3D88EA"></stop>
          <stop offset="1" stop-color="#73CAF1"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="px-6 pt-6 lg:px-8">
    <div>
      <nav class="flex h-9 items-center justify-between" aria-label="Global">
        <div class="flex lg:min-w-0 lg:flex-1" aria-label="Global">
          <a href="#" class="-m-1.5 p-1.5 mt-3">
            <span class="sr-only">MLC - Logistics</span>
            <img class="h-20" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1672352560/Group_1-3_l3chbv.png" alt="">
          </a>
        </div>
        <div class="flex lg:hidden ">
          <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <!-- Heroicon name: outline/bars-3 -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:min-w-0 lg:flex-1 lg:justify-center lg:gap-x-12">
          <a href="#" class="font-semibold text-white hover:text-yellow-500">Home</a>

          <a href="#overons" class="font-semibold text-white hover:text-yellow-500">Over ons</a>

          <a href="#diensten" class="font-semibold text-white hover:text-yellow-500">Diensten</a>

          <a href="/nl/contact" class="font-semibold text-white hover:text-yellow-500">Contacteer ons</a>
        </div>
        <div class="hidden lg:flex lg:min-w-0 lg:flex-1 lg:justify-end">
        </div>
      </nav>
      <!-- Mobile menu, show/hide based on menu open state.
      <div role="dialog" aria-modal="true">
        <div focus="true" class="fixed inset-0 z-10 overflow-y-auto bg-blue-900 px-6 py-6 lg:hidden" >
          <div class="flex h-9 items-center justify-between">
            <div class="flex">
              <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">MLC - Logistics</span>
                <img class="h-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
              </a>
            </div>
            <div class="flex">
              <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Sluit menu</span>
                <!-- Heroicon name: outline/x-mark
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="space-y-2 py-6">
                <a href="/nl/home" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-white hover:text-yellow-500">Home</a>

                <a href="/nl/overons" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-white hover:text-yellow-500">Over ons</a>

                <a href="/nl/diensten" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-white hover:text-yellow-500">Diensten</a>

                <a href="/nl/contact" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-white hover:text-yellow-500">Contacteer ons</a>
              </div>
              <div class="py-6">
              </div>
            </div>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
  <main>
    <div class="relative px-6 lg:px-8">
      <div class="mx-auto max-w-3xl pt-20 pb-32 sm:pt-48 sm:pb-40">
        <div>
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <div class="relative overflow-hidden rounded-full py-1.5 px-4 text-sm leading-6 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
              <span class="text-white">
                Wij zoeken gemotiveerde chauffeurs. <a href="/nl/vacatures" class="font-semibold text-yellow-500"><span class="absolute inset-0" aria-hidden="true"></span>Solliciteer <span aria-hidden="true">&rarr;</span></a>
              </span>
            </div>
          </div>
          <div>
            <h1 class="text-5xl text-white font-bold tracking-tight sm:text-center sm:text-6xl">Wij bezorgen overal, snel.</h1>
            <p class="mt-6 text-lg leading-8 text-white sm:text-center">Zoek je een koerierdienst die razendsnel levert? Voor een onverwachte zending of omdat het heel druk is? Of wil je logistieke ondersteuning voor je project?</p>
            <div class="mt-8 flex gap-x-4 sm:justify-center">
              <a href="/nl/contact" class="inline-block rounded-lg bg-yellow-500 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 hover:bg-blue-900 hover:ring-bg-[#3D88EA]">
                Contacteer ons
                <span class="text-white" aria-hidden="true">&rarr;</span>
              </a>
              <a href="#vacatures" class="inline-block rounded-lg px-4 py-1.5 text-base font-semibold leading-7 text-white ring-1 ring-gray-900/10 hover:ring-white">
                Vacatures
                <span class="text-white" aria-hidden="true">&rarr;</span>
              </a>
            </div>
          </div>
          <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
            <svg class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem]" viewBox="0 0 1155 678" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill="url(#ecb5b0c9-546c-4772-8c71-4d3f06d544bc)" fill-opacity=".3" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
              <defs>
                <linearGradient id="ecb5b0c9-546c-4772-8c71-4d3f06d544bc" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#73CAF1"></stop>
                  <stop offset="1" stop-color="#73CAF1"></stop>
                </linearGradient>
              </defs>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>



<div class="bg-white">
  <!-- Header -->
  <div class="relative bg-gray-800 pb-32">
    <div class="absolute inset-0">
      <img class="h-full w-full object-cover" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1672305168/Kim_Van_Rompay_3_logistics_vans_on_a_highway_with_the_colors_ye_da1f98b4-c4aa-4baa-8e87-a401bd3e87c8_g6yuso.png" alt="">
      <div class="absolute inset-0" aria-hidden="true"></div>
    </div>
    <div class="relative mx-auto max-w-7xl py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
      <h1 class="text-4xl font-bold tracking-tight text-white md:text-5xl lg:text-6xl"></h1>
      <p class="mt-6 max-w-3xl text-xl text-gray-300"></p>
    </div>
  </div>

  <!-- Overlapping cards -->
  <section class="relative z-10 mx-auto -mt-32 max-w-7xl px-4 pb-32 sm:px-6 lg:px-8" aria-labelledby="contact-heading">
    <h2 class="sr-only" id="contact-heading">Contacteer ons</h2>
    <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-8">
      <div class="flex flex-col rounded-2xl bg-white shadow-xl">
        <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
          <h3 class="text-xl font-medium text-gray-900">Algemene koerierdienst</h3>
          <p class="mt-4 text-base text-gray-500">Een snelle en betaalbare koerierdienst voor zowel particulieren als bedrijven.</p>
        </div>
        <div class="rounded-bl-2xl rounded-br-2xl bg-yellow-500 p-6 md:px-8">
          <a href="#" class="text-base font-medium text-white hover:text-gray-900">Offerte aanvragen<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>

      <div class="flex flex-col rounded-2xl bg-white shadow-xl">
        <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
          <h3 class="text-xl font-medium text-gray-900">Vaste rondes voor bedrijven</h3>
          <p class="mt-4 text-base text-gray-500">De ideale oplossing voor uw transport door vaste routes die we samen uitstippelen.</p>
        </div>
        <div class="rounded-bl-2xl rounded-br-2xl bg-yellow-500 p-6 md:px-8">
          <a href="#" class="text-base font-medium text-white hover:text-gray-900">Offerte aanvragen<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>

      <div class="flex flex-col rounded-2xl bg-white shadow-xl">
        <div class="relative flex-1 px-6 pt-16 pb-8 md:px-8">
          <h3 class="text-xl font-medium text-gray-900">Express</h3>
          <p class="mt-4 text-base text-gray-500">Snelle koerierdienst en expressleveringen zowel nationaal en internationaal.</p>
        </div>
        <div class="rounded-bl-2xl rounded-br-2xl bg-yellow-500 p-6 md:px-8">
          <a href="#" class="text-base font-medium text-white hover:text-gray-900">Offerte aanvragen<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>
    </div>
  </section>
</div>





<div class="bg-gradient-to-r from-blue-800 to-blue-900">
  <div class="mx-auto max-w-2xl py-16 px-4 text-center sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
      <span class="block">Wilt u weten welke dienst het beste bij u past?</span>
    </h2>
    <p class="mt-4 text-lg leading-6 text-indigo-200">Stuur uw wensen en ontvang een vrijblijvende offerte aan. Tijdens openingstijden ontvangt u binnen 1 uur een reactie.</p>
    <a href="/nl/contact" class="mt-8 inline-flex w-full items-center justify-center rounded-md border border-transparent bg-yellow-500 px-5 py-3 text-base font-medium text-white hover:bg-indigo-50 sm:w-auto">Contacteer ons</a>
  </div>
</div>



<div class="relative bg-white" id="overons">
  <div class="h-56 bg-white sm:h-72 md:absolute md:left-0 md:h-full md:w-1/2">
    <img class="h-full w-full object-cover" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1672303434/WhatsApp_Image_2022-12-19_at_20.43.03_pny6qx.jpg" alt="">
  </div>
  <div class="relative mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <div class="md:ml-auto md:w-1/2 md:pl-10">
      <h2 class="text-lg font-semibold text-dark-900">Snelle service</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-blue-900 sm:text-4xl">Over MLC Logistics</p>
      <p class="mt-3 text-lg text-dark-900">Transport en distributie van uw goederen laat u niet aan de eerste de beste over; u wilt zekerheid. De zekerheid van een complete dienstverlening, van snelheid en flexibiliteit, maximale betrouwbaarheid en echte betrokkenheid.</p>
      <div class="mt-8">
        <div class="inline-flex rounded-md shadow">

        </div>
      </div>
    </div>
  </div>
</div>





<div class="bg-gradient-to-r from-blue-800 to-blue-900" id="diensten">
  <div class="px-4 pt-12 sm:px-6 lg:px-8 lg:pt-20">
    <div class="text-center">
      <h2 class="text-xl font-semibold leading-6 text-yellow-500">Oplossingen</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl lg:text-5xl">De juiste oplossing voor u, waar u ook bent.</p>
      <p class="mx-auto mt-3 max-w-4xl text-xl text-gray-300 sm:mt-5 sm:text-2xl">Een omvangrijk en veelzijdig wagenpark gaat samen met geavanceerde logistieke diensten. Een totaalconcept dat garanties biedt voor maatwerk.</p>
    </div>
  </div>

  <div class="mt-16 bg-white pb-12 lg:mt-20 lg:pb-20">
    <div class="relative z-0">
      <div class="absolute inset-0 h-5/6 bg-gradient-to-r from-blue-800 to-blue-900 lg:h-2/3"></div>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="relative lg:grid lg:grid-cols-7">
          <div class="mx-auto max-w-md lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3 lg:mx-0 lg:max-w-none">
            <div class="flex h-full flex-col overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-l-lg">
              <div class="flex flex-1 flex-col">
                <div class="bg-white px-6 py-10">
                  <div>
                    
                    <h3 class="text-center text-2xl font-medium text-gray-900" id="tier-hobby">Standaard</h3>
                    <div class="mt-4 flex items-center justify-center">
<img class="rounded-lg object-cover shadow-lg" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1672303433/WhatsApp_Image_2022-12-19_at_20.42.59_fqcht5.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="flex flex-1 flex-col justify-between border-t-2 border-gray-100 bg-gray-50 p-6 sm:p-10 lg:p-6 xl:p-10">
                  <ul role="list" class="space-y-4">
                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: outline/check -->
                        <svg class="h-6 w-6 flex-shrink-0 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-500">Discreet en professioneel</p>
                    </li>

                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: outline/check -->
                        <svg class="h-6 w-6 flex-shrink-0 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-500">Colli's en pakketten</p>
                    </li>

                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: outline/check -->
                        <svg class="h-6 w-6 flex-shrink-0 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-500">Gepersonaliseerd transport</p>
                    </li>
                  </ul>
                  <div class="mt-8">
                    <div class="rounded-lg shadow-md">
                      <a href="#" class="block w-full rounded-lg border border-transparent bg-white px-6 py-3 text-center text-base font-medium text-blue-900 hover:bg-gray-50" aria-describedby="tier-hobby">Start hier</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mx-auto mt-10 max-w-lg lg:col-start-3 lg:col-end-6 lg:row-start-1 lg:row-end-4 lg:mx-0 lg:mt-0 lg:max-w-none">
            <div class="relative z-10 rounded-lg shadow-xl">
              <div class="pointer-events-none absolute inset-0 rounded-lg border-2 border-yellow-500" aria-hidden="true"></div>
              <div class="absolute inset-x-0 top-0 translate-y-px transform">
                <div class="flex -translate-y-1/2 transform justify-center">
                  <span class="inline-flex rounded-full bg-yellow-500 px-4 py-1 text-base font-semibold text-white">Onze sterkte</span>
                </div>
              </div>
              <div class="rounded-t-lg bg-white px-6 pt-12 pb-10">
                <div>
                  <h3 class="text-center text-3xl font-semibold tracking-tight text-gray-900 sm:-mx-6" id="tier-growth">Vaste rondes</h3>
                  <div class="mt-4 flex items-center justify-center">
<img class="rounded-lg object-cover shadow-lg" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1672308632/WhatsApp_Image_2022-12-19_at_20.42.54_olwrr0.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="rounded-b-lg border-t-2 border-gray-100 bg-gray-50 px-6 pt-10 pb-8 sm:px-10 sm:py-10">
                <ul role="list" class="space-y-4">
                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="h-6 w-6 flex-shrink-0 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">Vaste partner voor bedrijven</p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="h-6 w-6 flex-shrink-0 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">Dagelijkse, wekelijkse of maandelijks transport</p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="h-6 w-6 flex-shrink-0 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">Vaste rondes</p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="h-6 w-6 flex-shrink-0 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">24/7 klantenservice</p>
                  </li>

                </ul>
                <div class="mt-10">
                  <div class="rounded-lg shadow-md">
                    <a href="#" class="block w-full rounded-lg border border-transparent bg-blue-900 px-6 py-4 text-center text-xl font-medium leading-6 text-white hover:bg-indigo-700" aria-describedby="tier-growth">Start hier</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mx-auto mt-10 max-w-md lg:col-start-6 lg:col-end-8 lg:row-start-2 lg:row-end-3 lg:m-0 lg:max-w-none">
            <div class="flex h-full flex-col overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-r-lg">
              <div class="flex flex-1 flex-col">
                <div class="bg-white px-6 py-10">
                  <div>
                    <h3 class="text-center text-2xl font-medium text-gray-900" id="tier-scale">Express</h3>
                    <div class="mt-4 flex items-center justify-center">
<img class="rounded-lg object-cover shadow-lg" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1672308632/WhatsApp_Image_2022-12-19_at_20.43.10_jmwq4z.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="flex flex-1 flex-col justify-between border-t-2 border-gray-100 bg-gray-50 p-6 sm:p-10 lg:p-6 xl:p-10">
                  <ul role="list" class="space-y-4">
                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: outline/check -->
                        <svg class="h-6 w-6 flex-shrink-0 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-500">Last-minute</p>
                    </li>

                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: outline/check -->
                        <svg class="h-6 w-6 flex-shrink-0 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-500">Snel en accuraat</p>
                    </li>

                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: outline/check -->
                        <svg class="h-6 w-6 flex-shrink-0 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-500">Voor bedrijven en particulieren</p>
                    </li>
                  </ul>
                  <div class="mt-8">
                    <div class="rounded-lg shadow-md">
                      <a href="#" class="block w-full rounded-lg border border-transparent bg-white px-6 py-3 text-center text-base font-medium text-blue-900 hover:bg-gray-50" aria-describedby="tier-scale">Start hier</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="bg-white">
  <div class="mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <div>
        <h2 class="text-3xl font-bold tracking-tight text-blue-900">Onze persoonlijke benadering maakt het verschil</h2>
        <p class="mt-4 text-lg text-gray-500">Bij ons staat de klant centraal. Wij maken graag jouw gepersonaliseerd account aan en informeren daarbij naar de specifieke producten, veiligheidsvoorschriften, instructies, noden en wensen van jouw bedrijf.  Zodoende komen wij tot een gedetailleerd klantenprofiel.</p>
      </div>
      <div class="mt-12 lg:col-span-2 lg:mt-0">
        <dl class="space-y-12">
          <div>
            <dt class="text-lg font-medium leading-6 text-gray-900">Dag en nacht beschikbaar</dt>
            <dd class="mt-2 text-base text-gray-500">Onze medewerkers en chauffeurs helpen u graag en snel, en blijven scherp dankzij regelmatige opleidingen.</dd>
          </div>
                    <div>
            <dt class="text-lg font-medium leading-6 text-gray-900">Altijd de juiste wagen</dt>
            <dd class="mt-2 text-base text-gray-500">Voor elk transport hebben wij het geschikte voertuig. Zo ben je zeker dat je zending veilig wordt vervoerd in een optimale omgeving.</dd>
          </div>
                    <div>
            <dt class="text-lg font-medium leading-6 text-gray-900">Overal actief</dt>
            <dd class="mt-2 text-base text-gray-500">Wij hebben startplaatsen over heel België. Zo houden we de transportprijs laag en geraken onze koeriers in een mum van tijd aan je deur. Klaar om je zending diezelfde dag nog weg te brengen in België, Europa of zelfs daarbuiten. Moet je iets vanuit het buitenland naar België verzenden? Ook dan staan we meteen paraat.</dd>
          </div>

          <!-- More questions... -->
        </dl>
      </div>
    </div>
  </div>
</div>








<!-- This example requires Tailwind CSS v3.0+ -->
<div class="bg-gradient-to-r from-blue-800 to-blue-900" id="vacatures">
  <div class="relative overflow-hidden pt-32 pb-96 lg:pt-40">
    <div></div>
    <div class="relative mx-auto max-w-7xl px-6 text-center lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-4xl">
        <h2 class="text-lg font-semibold leading-8 text-yellow-500">Vacatures</h2>
        <p class="mt-2 text-4xl font-bold tracking-tight text-white">Wij zoeken<br class="hidden sm:inline lg:hidden"> gemotiveerde chauffeurs.</p>
        <p class="mt-6 text-lg leading-8 text-white">Om onze groei te kunnen opvangen zijn wij op zoek naar gemotiveerde chauffeurs die in loondienst of op zelfstandige basis willen samenwerken.</p>
      </div>
    </div>
  </div>
  <div class="flow-root bg-white pb-32 lg:pb-40">
    <div class="relative -mt-80">
      <div class="relative z-10 mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-md grid-cols-1 gap-8 lg:max-w-4xl lg:grid-cols-2 lg:gap-8">
          <div class="flex flex-col rounded-3xl bg-white shadow-xl ring-1 ring-black/10">
            <div class="p-8 sm:p-10">
              <h3 class="text-lg font-semibold leading-8 tracking-tight text-yellow-500" id="tier-hobby">Loondienst</h3>
              <div class="mt-4 flex items-baseline text-3xl font-bold tracking-tight text-blue-900">
                VRACHTWAGEN CHAUFFEUR CE RIJBEWIJS
              </div>
              <p class="mt-6 text-base leading-7 text-gray-600">Gemotiveerde professional, met goesting om de job goed uit te voeren. Kennis van het Nederlands. In het bezit van CE-rijbewijs</p>
            </div>
            <div class="flex flex-1 flex-col p-2">
              <div class="flex flex-1 flex-col justify-between rounded-2xl bg-gray-50 p-6 sm:p-8">
                <ul role="list" class="space-y-6">
                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="h-6 w-6 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                    </div>
                    <p class="ml-3 text-sm leading-6 text-gray-600">Afwisselende job met transport van volle ladingen (geen distributie)</p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="h-6 w-6 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                    </div>
                    <p class="ml-3 text-sm leading-6 text-gray-600">Rijden in een vaste combinatie (eigen trekker en oplegger)</p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="h-6 w-6 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                    </div>
                    <p class="ml-3 text-sm leading-6 text-gray-600">Conforme verloning en een groeiend dynamisch bedrijf</p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="h-6 w-6 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                    </div>
                    <p class="ml-3 text-sm leading-6 text-gray-600">Startplaats Gent</p>
                  </li>
                </ul>
                <div class="mt-8">
                  <a href="/nl/vacatures" class="inline-block w-full rounded-lg bg-blue-900 px-4 py-2.5 text-center text-sm font-semibold leading-5 text-white shadow-md hover:bg-yellow-500" aria-describedby="tier-hobby">Solliciteer nu</a>
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-col rounded-3xl bg-white shadow-xl ring-1 ring-black/10">
            <div class="p-8 sm:p-10">
              <h3 class="text-lg font-semibold leading-8 tracking-tight text-yellow-500" id="tier-team">Zelfstandig</h3>
              <div class="mt-4 flex items-baseline text-3xl font-bold tracking-tight text-blue-900">
                ZELFSTANDIGE CHAUFFEUR MET/ZONDER VRACHTWAGEN
              </div>
              <p class="mt-6 text-base leading-7 text-gray-600">Een extra zelfstandige onderaannemer in de omgeving van Kortrijk, om onze sprintdienst (= sneltransport) mee te komen versterken.</p>
            </div>
            <div class="flex flex-1 flex-col p-2">
              <div class="flex flex-1 flex-col justify-between rounded-2xl bg-gray-50 p-6 sm:p-8">
                <ul role="list" class="space-y-6">
                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="h-6 w-6 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                    </div>
                    <p class="ml-3 text-sm leading-6 text-gray-600">Afwisselende job met transport van volle ladingen (geen distributie)</p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="h-6 w-6 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                    </div>
                    <p class="ml-3 text-sm leading-6 text-gray-600">Conforme verloning en een groeiend dynamisch bedrijf</p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="h-6 w-6 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                    </div>
                    <p class="ml-3 text-sm leading-6 text-gray-600">Rijden in een vaste combinatie (eigen trekker en oplegger)</p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="h-6 w-6 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                    </div>
                    <p class="ml-3 text-sm leading-6 text-gray-600">Startplaats Gent</p>
                  </li>
                </ul>
                <div class="mt-8">
                  <a href="/nl/vacatures" class="inline-block w-full rounded-lg bg-blue-900 px-4 py-2.5 text-center text-sm font-semibold leading-5 text-white shadow-md hover:bg-yellow-500" aria-describedby="tier-team">Solliciteer nu</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="relative mx-auto mt-8 max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-md lg:max-w-4xl">
        <div class="flex flex-col gap-6 rounded-3xl p-8 ring-1 ring-gray-900/10 sm:p-10 lg:flex-row lg:items-center lg:gap-8">
          <div class="lg:min-w-0 lg:flex-1">
            <h3 class="text-lg font-semibold leading-8 tracking-tight text-blue-900">Spontaan solliciteren</h3>
            <div class="mt-2 text-base leading-7 text-gray-600">Zou u graag deel uitmaken van ons team, maar vond u niet meteen de geschikte vacature? Geen probleem. U kan op elk moment spontaan solliciteren en ons overtuigen van uw meerwaarde.</div>
          </div>
          <div>
            <a href="/nl/vacatures" class="inline-block rounded-lg bg-blue-50 px-4 py-2.5 text-center text-sm font-semibold leading-5 text-blue-700 hover:bg-blue-100">Spontaan solliciteren <span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<footer class="bg-white">
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
    <div class="flex justify-center space-x-6 md:order-2">
      <p class="font-semibold text-base text-blue-900"> BEL ONS: 09 725 67 49</p>
    </div>
    <div class="mt-8 md:order-1 md:mt-0">
      <p class="text-center text-base text-gray-400">&copy; MLC Logistics - Ottergemsesteenweg-Zuid 808 bus C31, 9000 Gent</p>
    </div>
  </div>
</footer>
